bin
target
# IntelliJ
.idea
*.ipr
*.iml
*.iws
out
*.log
*.tlog
.project
.metadata
.classpath
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
# External tool builders
.externalToolBuilders/
# Locally stored "Eclipse launch configurations"
*.launch
# sbteclipse plugin
.target
process-box.iml